.text-secondary {
  color: #eece1a; }

* {
  box-sizing: border-box; }

.progress {
  width: 100%;
  height: 5px; }

.progress-wrap {
  background: #f80;
  margin: 20px 0;
  overflow: hidden;
  position: relative; }
  .progress-wrap .progress-bar {
    background: #ddd;
    left: 0;
    position: absolute;
    top: 0; }

body {
  background: #444;
  background-size: 100%;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }
  body#bg-img {
    background: url(../img/background.jpg) no-repeat top center fixed;
    background-attachment: scroll;
    background-size: 100vmax 100vmax; }
  body .overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(68, 68, 68, 0.8); }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 4rem; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(73, 73, 73, 0.5); }

a {
  color: #fff;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

#text-secondary {
  color: #eece1a; }

main {
  padding: 4rem;
  min-height: calc(100vh - 60px); }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a i:hover {
        color: #eece1a;
        transition: all 0.5s ease-out; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 20vh; }

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      background-color: #eece1a;
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      background-color: #eece1a;
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  opacity: 1;
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #373737;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: #444;
    transform: translate3d(0, 100%, 0);
    transition: all 0.5s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .portrait .profile-photo {
      background-image: url(../img/dhiraj_portrait.jpg);
      max-width: 100%;
      height: 250px;
      border-radius: 50%;
      border: solid 3px #eece1a; }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #eece1a; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s ease-out; }
    .menu .nav-link:hover {
      color: #eece1a; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

.nav-item:nth-child(5) {
  transition-delay: 0.5s; }

.nav-item:nth-child(6) {
  transition-delay: 0.6s; }

.resume_button {
  margin-top: 15px;
  margin-bottom: 7px; }
  .resume_button .btn-light {
    margin-right: 10px; }

.container {
  margin: 0 auto;
  width: 100%;
  font-size: 10px;
  display: inline-block; }

.grid-item {
  width: 200px;
  height: 200px;
  padding-left: 5px;
  background-color: blue;
  display: inline-block;
  vertical-align: top;
  margin: 4px;
  display: inline-block; }

.grid-item-inner {
  display: inline-block; }

.basic-info {
  list-style: none; }
  .basic-info .info {
    padding-left: 5px; }

.about-info {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "bioimage bio bio" "job1 job2 job3";
  grid-template-columns: repeat(2, 1fr); }
  .about-info .bio-image {
    grid-area: bioimage;
    border-radius: 50%;
    border: solid 3px #eece1a;
    margin: auto; }
  .about-info .bio {
    grid-area: bio;
    font-size: 1.5rem; }
  .about-info .job-1 {
    grid-area: job1; }
  .about-info .job-2 {
    grid-area: job2; }
  .about-info .job {
    background: #515151;
    padding: 0.5rem;
    border-bottom: #eece1a 5px solid; }

.nested {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-auto-rows: minmax(60px, auto);
  /*grid-auto-columns: minmax(auto , 50px);*/ }

.nested > div {
  font-size: 1rem;
  border: #333 1px black; }

.cursive {
  font-family: "Courgette", cursive; }

.border-right {
  padding-bottom: 2px;
  padding-right: 2px;
  border-right: 2px solid #eece1a;
  border-bottom: 2px solid #eece1a;
  border-radius: 5px; }

.projects {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr); }
  .projects img {
    width: 100%;
    height: 165px;
    border: 3px #fff solid; }
    .projects img:hover {
      opacity: 0.5;
      border-color: #eece1a;
      transition: all 0.5s ease-out; }

.item {
  border: 2px #fff solid;
  padding: 2rem 2rem;
  margin-bottom: 2rem;
  transition: all 0.5s ease-out; }
  .item h2 {
    margin-bottom: 0.5rem; }
  .item:hover {
    box-shadow: 5px 5px 5px black; }

.btn, .btn-dark, .btn-light {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem; }
  .btn:hover, .btn-dark:hover, .btn-light:hover {
    background: #eece1a;
    color: #000; }

.btn-dark {
  background: black;
  color: #fff; }

.btn-light {
  background: #c4c4c4;
  color: #333; }

.progress-bar {
  width: 100%;
  height: 4px;
  margin-top: 20px;
  background-color: white;
  border-radius: 5px; }

.progress-bar-fill {
  margin-top: 2px;
  margin-bottom: 2px;
  width: 70%;
  height: 4px;
  background-color: #83ba09;
  border-radius: 5px; }

.progress-bar-fill-c {
  margin-top: 2px;
  margin-bottom: 2px;
  width: 70%;
  height: 4px;
  background-color: #83ba09;
  border-radius: 5px; }

.progress-bar-fill-java {
  margin-top: 2px;
  margin-bottom: 2px;
  width: 85%;
  height: 4px;
  background-color: #83ba09;
  border-radius: 5px; }

.progress-bar-fill-python {
  margin-top: 2px;
  margin-bottom: 2px;
  width: 75%;
  height: 4px;
  background-color: #83ba09;
  border-radius: 5px; }

.progress-bar-fill-dart {
  margin-top: 2px;
  margin-bottom: 2px;
  width: 60%;
  height: 4px;
  background-color: #83ba09;
  border-radius: 5px; }

.progress-bar-fill-java {
  margin-top: 2px;
  margin-bottom: 2px;
  width: 85%;
  height: 4px;
  background-color: #83ba09;
  border-radius: 5px; }

.progress-bar-fill-html {
  margin-top: 2px;
  margin-bottom: 2px;
  width: 85%;
  height: 4px;
  background-color: #83ba09;
  border-radius: 5px; }

.progress-bar-fill-javascript {
  margin-top: 2px;
  margin-bottom: 2px;
  width: 60%;
  height: 4px;
  background-color: #83ba09;
  border-radius: 5px; }

.progress-bar-fill-php {
  margin-top: 2px;
  margin-bottom: 2px;
  width: 80%;
  height: 4px;
  background-color: #83ba09;
  border-radius: 5px; }

.progress-bar-fill-flutter {
  margin-top: 2px;
  margin-bottom: 2px;
  width: 60%;
  height: 4px;
  background-color: #83ba09;
  border-radius: 5px; }

.progress-bar-fill-mysql {
  margin-top: 2px;
  margin-bottom: 2px;
  width: 70%;
  height: 4px;
  background-color: #83ba09;
  border-radius: 5px; }

.progress-bar-fill-sql-server {
  margin-top: 2px;
  margin-bottom: 2px;
  width: 85%;
  height: 4px;
  background-color: #83ba09;
  border-radius: 5px; }

.progress-bar-fill-oracle {
  margin-top: 2px;
  margin-bottom: 2px;
  width: 85%;
  height: 4px;
  background-color: #83ba09;
  border-radius: 5px; }

.progress-bar-fill-optimistic {
  margin-top: 2px;
  margin-bottom: 2px;
  width: 85%;
  height: 4px;
  background-color: #83ba09;
  border-radius: 5px; }

.progress-bar-fill-hardworking {
  margin-top: 2px;
  margin-bottom: 2px;
  width: 80%;
  height: 4px;
  background-color: #83ba09;
  border-radius: 5px; }

.progress-bar-fill-team-player {
  margin-top: 2px;
  margin-bottom: 2px;
  width: 75%;
  height: 4px;
  background-color: #83ba09;
  border-radius: 5px; }

.progress-bar-fill-adaptable {
  margin-top: 2px;
  margin-bottom: 2px;
  width: 65%;
  height: 4px;
  background-color: #83ba09;
  border-radius: 5px; }

.boxes {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr); }
  .boxes div {
    font-size: 1rem;
    border: 2px #fff solid;
    padding: 2rem 2rem;
    margin-bottom: 2rem;
    transition: all 0.5s ease-out; }
    .boxes div:hover {
      background: #eece1a;
      color: #000;
      box-shadow: 5px 5px 5px; }
      .boxes div:hover span {
        color: #000; }

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #2b2b2b;
  color: #fff;
  height: 60px; }

.skills {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "personalskills technicalskills";
  grid-template-columns: 1fr; }
  .skills h3 {
    color: #eece1a; }

.skill {
  background: #515151;
  padding: 0.5rem;
  border-bottom: #eece1a 5px solid; }
  .skill .personal-skill {
    grid-area: personalskills; }
  .skill .technical-skill {
    grid-area: technicalskills; }

.bar {
  background: #353b48;
  display: block;
  height: 2px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px #2187e7b3; }

.bar span {
  height: 2px;
  float: left;
  background: #2187e7; }

.html {
  width: 80%;
  animation: html 2s; }

.css {
  width: 90%;
  animation: css 2s; }

.js {
  width: 70%;
  animation: js 2s; }

.jquery {
  width: 60%;
  animation: jquery 2s; }

@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(4, 1fr); }
  .boxes {
    grid-template-columns: repeat(4, 1fr); } }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr); }
  .boxes {
    grid-template-columns: repeat(3, 1fr); } }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
    main .skills {
      grid-template-areas: "personalskills" "technicalskills";
      grid-template-columns: 1fr; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .portrait .profile-photo {
      background-image: url(../img/dhiraj_portrait.jpg);
      max-width: 100%;
      height: 150px;
      border: solid 3px #eece1a; }
  .about-info {
    grid-template-areas: "bioimage" "bio" "job1" "job2";
    grid-template-columns: 1fr; }
  .projects {
    grid-template-columns: repeat(2, 1fr); }
  .boxes {
    grid-template-columns: 1fr; }
  .left {
    display: inline-block; }
  .right {
    display: inline-block; } }

@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 10vh; }
  .about-info {
    grid-template-areas: "bioimage" "bio" "job1" "job2";
    grid-template-columns: 1fr; }
  .projects {
    grid-template-columns: 1fr; }
  .boxes {
    grid-template-columns: 1fr; }
  .left {
    display: inline-block; }
  .right {
    display: inline-block; }
  .nested {
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(40px, auto); }
  .cursive {
    font-family: "Courgette", cursive; } }
